@import "tailwindcss";

:root {
  --font-geist: "Geist", system-ui, sans-serif;
}

body {
  font-family: var(--font-geist);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove default input appearance in Webkit */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
